.title {
  margin: 0 auto;
  text-align: center;
  color: #819481;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  margin-bottom: 20px;
}

.input {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  margin: 0 auto;
  width: 1000px;
  height: 250px;
  border: #819481 1px solid;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: -3px -3px 5px rgb(63, 63, 63) , 3px 3px 5px black;
  color: #0f0f0f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 10px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  width: 1000px;
  border: #0f0f0f 2px solid;
  border-radius: 5px;
  background-color: #bab6b6;
  box-shadow: -2px -2px 4px rgb(63, 63, 63) , 2px 2px 4px black;
}

.keyboard__btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: #454545;
  color: white;
  box-shadow: -2px -2px 4px rgb(63, 63, 63), 2px 2px 4px black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.keyboard__btn:hover {
  background-color: #0abb0a;;
}

.clearfix {
  display: block;
  width: 100%;
  clear: both;
}

.active {
  background-color: #0abb0a;
  box-shadow: 2px 2px 4px rgb(255, 255, 255), -2px -2px 4px rgb(63, 63, 63);
  transform: translateY(4px);
}

